<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update a User</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create User</a>
      <a class="active" href="/update">Update User</a>
    </div>
    <div class="form-add-new">
      <form action="/update-user" method="post">
        <fieldset>
          <legend>Update a user</legend>
          <div class="input-group d-none">
            <label for="email">Id</label>
            <input type="text" name="userId" id="id" value="<%= user.id %>" />
          </div>
          <div class="input-group">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              value="<%= user.email %>"
            />
          </div>
          <div class="input-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= user.name %>" />
          </div>
          <div class="input-group">
            <label for="city">City</label>
            <input type="text" name="city" id="city" value="<%= user.city %>" />
          </div>
          <div>
            <button type="submit">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
